.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: -99999;

  transition: opacity .2s, visibility .2s ease-in;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  z-index: 99999;
}

.modalInner {
  background-color: #fff;
  max-width: 700px;
  width: 100%;
  padding: 30px 25px;
  border-radius: 10px;
}