.filterBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 40px 0;
}

.sort {
  flex: 1;
}

.select {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 7px 10px;
  color: #666;
}